*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #101010;
  font-size: 16px;
  line-height: 1.6;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a {
  color: #1966ff;
  text-decoration: none;
}

a:visited {
  color: #1966ff;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

img {
  width: auto;
  height: 240px;
}

p {
  margin-bottom: 1.2rem;
}
